.dark-theme {
    --bg-clr: #22272B;
    --font-clr: #ffffff;
    --card-clr:#1e2227;
    --card-p-clr: #85B8FF;
    --card-f-clr: #F8E6A0;
}

.light-theme {
    --bg-clr: #DEE4EA;
    --font-clr: black; 
    --card-clr: #9FADBC;
    --card-p-clr: #9FADBC;
    --card-f-clr: black; ;
}
